<!DOCTYPE html>
<html>
  <head>
    <title>LearningJava | <%= @title %></title>
    <%= stylesheet_link_tag :all %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "bj_folio", "jquery", "backbone/underscore", "jquery.scrollTo", "jquery.localscroll", "jquery.isotope.min", "fancybox.js", "jquery.min", "jquery_ujs", "rails"  %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <script>
      // this allows jquery to be called along with scriptaculous and YUI without any conflicts
      // the only difference is all jquery functions should be called with $j instead of $
      // e.g. $j('#div_id').stuff instead of $('#div_id').stuff
      var $j = jQuery.noConflict();
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
